<div class="row">
        <div class="jumbotron teamwork">
          <h1 class="text-center jumboheader">"Alone we can do so little, <br>together we can do so much."</h1>
      </div>
      <div class="col-md-12 text-center users">
    <h4 class="text-left page-header text-center">Users in: <%= current_user.city %>, <%= current_user.state %></h4>
      <div class="col-md-6">
        <ul> 
        <% @users.each do |u| %> 
            <a href="" class="user" data-id="<%= u.id %>">
               <%= u.first_name %> <%= u.last_name %>  <br>
            </a>
        <% end %> 
        </ul>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12 text-center gyms">
     <h4 class="text-left page-header text-center">Gyms near: <%= current_user.city %>, <%= current_user.state %> </h4>
     <ul>
        <% @client.spots(current_user.lat, current_user.lng, :types => 'gym', :radius => 8000, 
        :exclude => ['lodging', 'hospital']).each do |gym| %>
        <div class="col-md-4">
          <strong><a href="<%=gym.url %>"><%= gym.name %></a> </strong> 
          <br>- <%= gym.vicinity %> <br> <br>
        </div>
        <% end %>
     </ul>
     </div>
</div>

<!-- I should add a geolocation model here that will search for nearest users within 10 mile radius... -->

<!-- clicking on users should bring out modals with information like age/education/hobbies/gyms or activities currently enrolled in / profile pic / strength and weaknesses / current fitness goal. <br>
 -->

 <div class="modal fade" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Modal title</h3>
        <img class="photo" src="">
        <h4 class="modal-age">Modal Age</h4>
        <h4 class="followers">caca</h4>
        <h5 class="height"></h5>
        <h5 class="weight"></h5>
        <h6>
          <a href="/conversations/new">
            <button type="button" class="btn btn-primary btn-xs">Message</button>
          </a>
          <span class="follow"> </span>
        </h6>
      </div>
      <div class="col-md-6">
      <div class="modal-body">
          Education
            <ul>
                <li class="education"></li>
            </ul>
            Fitness Goals
            <ul>
                <li class="goals"></li>
            </ul>
            Strengths
            <ul>
                <li class="strengths"></li>
            </ul>
            Weaknesses
            <ul>
                <li class="weaknesses"></li>
            </ul>
      </div>
      </div>
      <div class="col-md-6">
      <div class="modal-body">
          Gym Memberships
            <ul>
                <li class="memberships"></li>
            </ul>
            Personal Equipment
            <ul>
                <li class="equipment"></li>
            </ul>
            Activities
              <ul>
                <li class="activity"></li>
            </ul>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->