<%= form_for [@information] do |i| %>

<h1>
  <strong>
    Tell us about Yourself!
  </strong>
</h1>

  <div class="field">
    <%= i.label :height, "Height (in Feet)" %><br />
    <%= i.select :height, options_for_select(["5'1", "5'2", "5'3", "5'4", "5'5", "5'6", "5'7", "5'8", "5'9", "5'10", "5'11", "6'0", "6'1", "6'2", "6'3", "6'4"], "6'1") %>
  </div>

    <div class="field">
      <%= i.label :weight  %><br />
      <%= i.select :weight, options_for_select((125...260), 150) %>
    </div>

  <div class="field">
    <%= i.label :education  %><br />
    <%= i.select :education, options_for_select(["Florida State","University of Florida","University of Miami","University Of Central Florida","University Of South Florida","Barry University", "Bootcamps > College"], "University of Miami")  %>
  </div>

  <div class="field">
    <%= i.label :strengths, "Tell us about your strengths when it comes to exercise"  %><br />
    <%= i.select :strengths, options_for_select(["Lifting Heavy Weights", "Fast Runner", "Running Long Distance", "Great Cardio"], "" ) %>
  </div>

  <div class="field">
    <%= i.label :weaknesses, "Tell us about your weaknesses when it comes to exercise" %><br />
    <%= i.select :weaknesses, options_for_select(["Getting Tired Easily", "Trouble with Heavy Weights", "Slow Runner"], "")  %>
  </div>

  <div class="field">
    <%= i.label :goals  %><br />
    <%= i.select :goals, options_for_select(["Gaining Mass", "Lose Weight", "Be able to run longer then 5 minutes"], "")    %>
  </div>

  <div class="field">
    <%= i.label :equipment, "Do you own any personal equipment?" %><br />
    <%= i.select :equipment, options_for_select(["Weighted Jump Rope", "Traning Mask", "Jump Rope","Weighted Vest", "Dumbbells/Kettlebells", "Speed Parachute"], "") %>
  </div>

   <div class="field">
    <%= i.label :memberships, "Current Gym Memberships?" %><br />
    <%= i.select :memberships,options_for_select(["LA Fitness", "24 Hour Fitness", "YouFit","Other"], "")%>
  </div>

   <div class="field">
    <%= i.label :activities, "Favorite Recreational Activity?"  %><br />
    <%= i.select :activities,options_for_select(["Jiu-Jitsu", "Basketball", "Crossfit","Yoga", "Golf"], "") %>
  </div>

  <%= i.submit %>
<% end %>